.service-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-card {
    max-width: 550px;
    margin: auto;
}

.custom-card {
    height: 100%;
    padding: 2rem;
    box-shadow: 5px 7px 23px 0 rgba(58,52,82,.16);
    border: none;
    align-items: center;
}

.card-text.text-secondary {
    font-size: 16px;
}

.card.person-card {
    display: block;
    flex-direction: none;
}
.card-container {
    display: inline-flex;
}

.fa-users,
.fa-laptop-code, 
.fa-hands-helping {
    font-size: 3rem !important;
}
.team-cards {
    display: inherit;
}
.team-card-body {
    padding: 1.25rem 0 1.25rem 0;
}
.font-awesome-icon {
    color: #d40d2c;
}